<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.cutepilot.video-downloader</string>
	<key>connections</key>
	<dict>
		<key>12E7915C-C435-4191-983F-00949256722A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>28422647-406C-41A0-9213-F8DCF6DAA304</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>16033D89-9E5A-432C-BBC4-26CE1C80ED77</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C677C0FC-8D57-47C9-A418-74D09F8D2453</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>28422647-406C-41A0-9213-F8DCF6DAA304</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E4936EF0-B129-4E64-9892-FB0A03364BB6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4FF196FC-207A-4E46-9FFD-2213E899D4C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C677C0FC-8D57-47C9-A418-74D09F8D2453</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5B439D56-8EA4-4110-9977-01B4EB4D0DDE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A5D353F-5761-4528-9C3A-748A5951D3C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7DDA3FBA-3FC8-4A52-B823-828B6583D78E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7DDA3FBA-3FC8-4A52-B823-828B6583D78E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E173526C-76A5-49E2-91E7-D037370C204D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A73B2F73-8230-4689-A4B2-8448CA341704</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0EE74F6E-141E-480F-9607-330FA62FA721</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BF646B06-4EF2-45C9-8D49-8F4FB47E09B3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C677C0FC-8D57-47C9-A418-74D09F8D2453</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D55D407A-D6DC-4FBE-9B4A-278344FE6B96</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B7A60B0-65BB-4928-9F46-17CB24155CCF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A73B2F73-8230-4689-A4B2-8448CA341704</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E7CA8965-C7D6-412D-AE3D-172DD7A27ECF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF646B06-4EF2-45C9-8D49-8F4FB47E09B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E5987C95-B3AC-4962-82D0-7DCDF7810FE1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>16033D89-9E5A-432C-BBC4-26CE1C80ED77</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Download and auto-play videos from YouTube, Vimeo, DailyMotion, etc...</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CB30E87E-4DE3-4FC3-AC95-C598FA8989E8</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F32992EA-FF1C-4479-91F2-F9961F09FD89</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C677C0FC-8D57-47C9-A418-74D09F8D2453</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FB336333-BDDC-43E5-A922-D6931E822ABE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E5987C95-B3AC-4962-82D0-7DCDF7810FE1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4FF196FC-207A-4E46-9FFD-2213E899D4C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CB30E87E-4DE3-4FC3-AC95-C598FA8989E8</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Download and auto-play the generated audio file from video URL.</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F32992EA-FF1C-4479-91F2-F9961F09FD89</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Download and auto-play the generated audio file from video URL.</string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Onur Yildirim</string>
	<key>description</key>
	<string>Download videos from YouTube, Vimeo, DailyMotion and more...</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Video Downloader</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>vd-help</string>
				<key>subtext</key>
				<string>Information on using the Video Downloader workflow for Alfred.</string>
				<key>text</key>
				<string>Video Downloader Help</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>12E7915C-C435-4191-983F-00949256722A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>echo "$(&lt;"HELP.txt")"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>28422647-406C-41A0-9213-F8DCF6DAA304</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>E4936EF0-B129-4E64-9892-FB0A03364BB6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>vd-update</string>
				<key>subtext</key>
				<string>Check for Video Downloader updates...</string>
				<key>text</key>
				<string>Update Video Downloader</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D55D407A-D6DC-4FBE-9B4A-278344FE6B96</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Checking for updates...</string>
				<key>title</key>
				<string>Video Downloader Update</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3B7A60B0-65BB-4928-9F46-17CB24155CCF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Video Downloader Update</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0EE74F6E-141E-480F-9607-330FA62FA721</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>sh vd-update.sh</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A73B2F73-8230-4689-A4B2-8448CA341704</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>sh vd.sh "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BF646B06-4EF2-45C9-8D49-8F4FB47E09B3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Downloading video from {query}</string>
				<key>title</key>
				<string>Video Downloader</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E5987C95-B3AC-4962-82D0-7DCDF7810FE1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>vd</string>
				<key>subtext</key>
				<string>Download videos from YouTube, Vimeo, DailyMotion, etc... Hold CMD to auto-play.</string>
				<key>text</key>
				<string>Download Web Video</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E7CA8965-C7D6-412D-AE3D-172DD7A27ECF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>sh vd.sh "{query}" "-play"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>16033D89-9E5A-432C-BBC4-26CE1C80ED77</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Video Downloader</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C677C0FC-8D57-47C9-A418-74D09F8D2453</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>sh vd.sh "{query}" "-audio"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4FF196FC-207A-4E46-9FFD-2213E899D4C4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>vd-audio</string>
				<key>subtext</key>
				<string>Download and generate audio file from video URL… Hold CMD to auto-play.</string>
				<key>text</key>
				<string>Download and extract audio from video...</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FB336333-BDDC-43E5-A922-D6931E822ABE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Downloading from {query}</string>
				<key>title</key>
				<string>Video Downloader</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CB30E87E-4DE3-4FC3-AC95-C598FA8989E8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>sh vd.sh "{query}" "-play -audio"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F32992EA-FF1C-4479-91F2-F9961F09FD89</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>vd-info</string>
				<key>subtext</key>
				<string>Retrieve detailed information about the video...</string>
				<key>text</key>
				<string>Get Video Information...</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5B439D56-8EA4-4110-9977-01B4EB4D0DDE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Retrieving video information from {query}</string>
				<key>title</key>
				<string>Video Downloader</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0A5D353F-5761-4528-9C3A-748A5951D3C4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>E173526C-76A5-49E2-91E7-D037370C204D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>sh vd-info.sh "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7DDA3FBA-3FC8-4A52-B823-828B6583D78E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Video Downloader workflow 

Video Downloader is an Alfred workflow written in Bash/Shell for easily downloading videos (and/or extracting audio) from various websites such as YouTube, Vimeo, DailyMotion and more... It uses youtube-dl by Ricardo Garcia Gonzalez, as the core component.

Created by Onur Yildirim (onur@cutepilot.com)
youtube-dl (by Ricardo Garcia Gonzalez, rg3.github.io)

Requirements:
	Python version 2.6, 2.7, or 3.3+
	FFmpeg (for extract-audio feature)

Supported sites:
    • YouTube
    • Vimeo
    • Dailymotion
    • MetaCafe
    • Google Video
    • MTV
    • Soundcloud
    • Photobucket Videos
    • DepositFiles
    • blip.tv
    • myvideo.de
    • Google Plus
    • The Daily Show / Colbert Nation
    • The Escapist
    • CollegeHumor
    • arte.tv
    • xvideos
    • infoq
    • mixcloud
    • Stanford Open Content
    • Youku
    • XNXX
    • more...</string>
	<key>uidata</key>
	<dict>
		<key>0A5D353F-5761-4528-9C3A-748A5951D3C4</key>
		<dict>
			<key>ypos</key>
			<real>870</real>
		</dict>
		<key>0EE74F6E-141E-480F-9607-330FA62FA721</key>
		<dict>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>12E7915C-C435-4191-983F-00949256722A</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>16033D89-9E5A-432C-BBC4-26CE1C80ED77</key>
		<dict>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>28422647-406C-41A0-9213-F8DCF6DAA304</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>3B7A60B0-65BB-4928-9F46-17CB24155CCF</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>4FF196FC-207A-4E46-9FFD-2213E899D4C4</key>
		<dict>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>5B439D56-8EA4-4110-9977-01B4EB4D0DDE</key>
		<dict>
			<key>ypos</key>
			<real>870</real>
		</dict>
		<key>7DDA3FBA-3FC8-4A52-B823-828B6583D78E</key>
		<dict>
			<key>ypos</key>
			<real>990</real>
		</dict>
		<key>A73B2F73-8230-4689-A4B2-8448CA341704</key>
		<dict>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>BF646B06-4EF2-45C9-8D49-8F4FB47E09B3</key>
		<dict>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>C677C0FC-8D57-47C9-A418-74D09F8D2453</key>
		<dict>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>CB30E87E-4DE3-4FC3-AC95-C598FA8989E8</key>
		<dict>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>D55D407A-D6DC-4FBE-9B4A-278344FE6B96</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>E173526C-76A5-49E2-91E7-D037370C204D</key>
		<dict>
			<key>ypos</key>
			<real>990</real>
		</dict>
		<key>E4936EF0-B129-4E64-9892-FB0A03364BB6</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>E5987C95-B3AC-4962-82D0-7DCDF7810FE1</key>
		<dict>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>E7CA8965-C7D6-412D-AE3D-172DD7A27ECF</key>
		<dict>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>F32992EA-FF1C-4479-91F2-F9961F09FD89</key>
		<dict>
			<key>ypos</key>
			<real>780</real>
		</dict>
		<key>FB336333-BDDC-43E5-A922-D6931E822ABE</key>
		<dict>
			<key>ypos</key>
			<real>710</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>www.cutepilot.com</string>
</dict>
</plist>
